# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/pages/Dashboard-v1.tsx
src/pages/Dashboard-v2.tsx
src/pages/Dashboard-v3.tsx 
src/pages/Dashboard-v5.tsx 
src/pages/HomePage.tsx 